
.header-main {
    width: 100%;
    position: absolute;
    background: #333;
    z-index: 1;
}

.header-main__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo {
    max-height: 100px;
    width: 50%;
}

.header-logo__image1 {
    display: none;
}

.header-logo__image2 {
    display: block;
    max-height: 100px;
}

.header-logo__link {
    display: inline-block;
}

.nav-main {
    display: none;
    width: 100%;
}

.nav-main.is-active {
    display: block;
}

.nav-main__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-main__list-item {
    padding: 14px 5px;
    border-top: 1px solid #eee;
    border-top-color: rgba(255, 255, 255, 0.15);
}

.nav-main__list-item:first-child {
    border-top: none;
}

.nav-main__list-item-link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 22px;
    text-transform: uppercase;
}

.nav-main__list-item:hover .nav-main__list-item-link {
    color: #f0a540;
}

.nav-main__list-item:last-child:hover .nav-main__list-item-link {
    color: #ffffff;
}

.hamburger-menu {
    width: 50%;
    line-height: 50px;
    text-align: right;
}

.hamburger-menu i.fa.fa-bars {
    color: #fff;
}


@media screen and (min-width: 992px) {
    .hamburger-menu {
        display: none;
    }

    .header-main__inner {
        flex-wrap: nowrap;
    }

    .header-main {
        position: fixed;
        background: transparent;
        transition: background-color .3s ease 0s;
    }

    .header-main.is-header-sticky {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .header-main.is-header-sticky .header-logo__image1 {
        display: block;
    }


    .header-main.is-header-sticky .header-logo__image2 {
        display: none;
    }

    .header-main.is-header-sticky .nav-main__list-item-link {
        color: #444;
    }

    .header-main.is-header-sticky .nav-main__list-item-link.btn {
        color: #fff;
    }

    .nav-main {
        width: 50%;
        display: block;
    }

    .nav-main.is-active {
        display: none;
    }

    .nav-main__list {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    .nav-main__list-item {
        padding: 0;
        border-top: 0;
    }

    .nav-main__list-item-link {
        padding: 39px 15px;
        font-size: 16px;
        font-weight: 500;
        text-transform: none;
    }

    .nav-main__list-item-link.btn {
        color: #fff;
        background-color: #f0a540;
    }

}