* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Quicksand-Bold;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 1320px;
    padding: 0px 12px;
    margin: auto;
}


/*~~~~~~~~ HEADER ~~~~~~~~*/
.header-main {
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
}

.header-main__inner {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    max-height: 114px;
}
.header-logo__link{
    display: inline-block;
}
.nav-main__list {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-main__list-item-link {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    line-height: 22px;
    color: #444;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 39px 15px;
}

.nav-main__list-item-link.btn {
    color: #fff;
    background-color: #f0a540;
}

/*~~~~~~~~ BANNER ~~~~~~~~*/

.section-banner {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.section-banner__inner {
    height: 100vh;
    display: flex;
    align-items: center;
}

.section-banner__info-title {
    color: #EEE;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
    letter-spacing: -2px;
}

.section-banner__info-text {
    color: #EEE;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 25px;
}

.section-banner__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.section-banner__buttons-button.btn {
    background-color: #f0a540;
    color: #ffffff;
    padding: 9px 26px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Quicksand-Regular', sans-serif;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 20);

}

.section-banner__buttons-plus {
    padding: 0 30px;
    color: #fff;
    font-family: 'Quicksand-Regular', sans-serif;
}

.section-banner__buttons-gift {
    height: 38px;
    display: inline-block;
}

.section-banner__buttons-gift-image {
    height: 100%;
}

.section-banner__text {
    font-family: 'Quicksand-Regular', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #EEE;
    opacity: 0.4;
    font-weight: 400;
    line-height: 30px;
}


/*~~~~~~~~ SERVICES ~~~~~~~~*/

.section-services {
    background-color: #eef2f5;
    overflow: hidden;
}

.section-services__inner {
    padding: 66px 0;
}

.section-services__content {
    text-align: center;
    padding-bottom: 30px;
}

.section-services__title {
    font-size: 36px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 400;
    font-family: 'Quicksand-Regular', sans-serif;
}

.section-services__text {
    font-weight: 300;
    color: #777;
    font-size: 20px;
    font-family: 'Quicksand-light', sans-serif;
    line-height: 30px;
}

.section-services__items {
    display: flex;
    flex-wrap: wrap;
    margin: -24px 0 0 -24px;
}

.section-services__items-item {
    width: 25%;
    padding: 24px 0 0 24px;
}

.section-services__items-item-content {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    transition: transform .1s;
    height: 100%;
}

.section-services__items-item:hover .section-services__items-item-content {
    transform: scale(1.05);
    box-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);
}

.section-services-item__content {
    padding: 24px;
}

.section-services-item__content-title {
    font-size: 17px;
    color: #333;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.section-services-item__content-text {
    color: #f0a540;
    font-size: 14px;
    font-family: 'Quicksand-Light', sans-serif;
    margin: 0;
    padding: 6px 0;
}

.section-services-item__content-link {
    color: #f0a540;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}


/*~~~~~~~~ JOIN ~~~~~~~~*/

.section-join__items {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.section__info-title {
    color: #333;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Quicksand-Regular', sans-serif;
    margin: 0px;

}

.section__info-text {
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 300;
    color: #777;
    font-size: 20px;
    margin: 10px 0 0 0;
}

.section__info-link.btn {
    margin-top: 32px;
    background-color: #f0a540;
    color: #fff;
    padding: 9px 26px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Quicksand-Regular', sans-serif;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
}

.line {
    margin: 32px 0;
    border-top: 1px solid #eee;
    width: 636px;
}

.section-item__count {
    display: flex;
    width: 100%;
}

.section__count-info.yellow {
    width: 33.333%;
}

.section__count-info h2 {
    font-family: 'Quicksand-SemiBold', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.section__count-info p {
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    padding-top: 8px;
    letter-spacing: 1px;
}

.section__count-info.yellow h2 {
    color: #f0a540;
}

.section__count-info.yellow p {
    color: #f0a540;
}

.section__count-info.blue {
    width: 33.333%;
}

.section__count-info.blue h2 {
    color: #22c1c3;
}

.section__count-info.blue p {
    color: #22c1c3;
}

.section__count-info.red h2 {
    color: #BD3F32;
}

.section__count-info.red p {
    color: #BD3F32;
}

.section-slider__item {
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);
    border-radius: 3px;
    margin-bottom: 2px;
    padding: 20px 27px 20px 20px;
    border: 0px;
    border-top: 1px solid #EEE;
}

.section-slider__image-link img {
    border-radius: 50%;
    height: 64px;
}

.section-slider__image-link {
    margin-right: 15px;
    display: inline-block;
}


.section-slider__info-text {
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
    color: #666;
    font-size: 16px;
    line-height: 1.8;
}

.section-slider__info-name {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Quicksand-Medium', sans-serif;
    line-height: 1.5;
    color: #555;
    margin: 10px 0 0 0;
}

.section-slider__info-name span {
    font-weight: 500;
    font-family: 'Quicksand-Medium', sans-serif;
    color: #999;
    font-size: 13px;
}

.section-slider__info-text {
    margin: 0px;
}

.section-slider__item.bottom {
    margin-top: 32px;
}

/*~~~~~~~~ GALLERY ~~~~~~~~*/

.section-gallery {
    background-color: #eef2f5;
    padding: 66px 0 0 0;
}

.section-gallery__info {
    text-align: center;
    padding-bottom: 60px;
}

.section-gallery__title {
    font-size: 36px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 400;
    font-family: 'Quicksand-Regular', sans-serif;
    margin: 0;
}

.section-gallery__text {
    font-weight: 300;
    color: #777;
    font-size: 20px;
    font-family: 'Quicksand-light', sans-serif;
    line-height: 30px;
}

.section-gallery__images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 230px);
    grid-gap: 2px;
}

.section-gallery__image-link {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.section-gallery__image-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section-gallery__images-overlay {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    font-size: 35px;
    color: #fff;
    font-family: 'Quicksand-light', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-gallery__images .big {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.section-gallery__image-link:hover .section-gallery__images-overlay {
    opacity: 1;
}


/*~~~~~~~~ PRODUCTS ~~~~~~~~*/

.section-products {
    padding: 60px 0;
}

.section-products__info {
    text-align: center;
    margin-bottom: 50px;
}

.section-products__title {
    font-size: 36px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 400;
    font-family: 'Quicksand-Regular', sans-serif;
    margin: 0;
}

.section-products__text {
    font-weight: 300;
    color: #777;
    font-size: 20px;
    font-family: 'Quicksand-light', sans-serif;
    line-height: 30px;
}

.section-products__items {
    display: flex;
    width: 100%;
}

.section-products__item.is-image {
    width: 41%;
}

.section-products__item.is-product {
    width: 59%;
}

.section-products__item {
    padding: 0 12px;
}

.section-products__product-items {
    display: flex;
}

.section-products__product-item:hover .section-products__item-image {
    transform: scale(1.05);
}

.section-products__item-image {
    transition: transform .1s;
}

.section-products__item-image-link {
    display: inline-block;
}

.section-products__item-image-link img {
    width: 100%;
    display: block;
}

.section-products__item-info {
    text-align: center;
    padding: 15px 0;
}

.section-products__item-info-title-link {
    text-decoration: none;
    display: inline-block;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Quicksand-Medium', sans-serif;
    cursor: pointer;
}

.section-products__item-info-title-link:hover {
    color: #f0a540;
}

.section-products__item-info-price {
    color: #f0a540;
    font-size: 18px;
    font-family: 'Quicksand-Bold', sans-serif;
    font-weight: 700;
}


/*~~~~~~~~ BANNER-BACKGROUND ~~~~~~~~*/

.section-banner-background {
    background-image: url("../Images/section-bg.jpg");
    padding: 140px 0 140px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.section-banner-background__content {
    display: inline-block;
    text-align: center;
}

.section-banner-background__content-title {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand-Regular', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 7px;
    color: white;
}

.section-banner-background__content-text {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Quicksand-Regular', sans-serif;
    letter-spacing: 1px;
    color: white;
    margin: 0;
    padding: 0;
}

.section-banner-background__content-button {
    border: 2px solid #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Quicksand-Bold', sans-serif;
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
    padding: 12px 26px;
    border-radius: 23px;
    transition: all .2s ease-in-out;
    margin-top: 30px;
    letter-spacing: 1px;
}

.section-banner-background__content-button:hover {
    transform: scale(1.05);
    background: #ffffff;
    color: #555;

}

/*~~~~~~~~ HELP ~~~~~~~~*/

.section-help {
    padding: 80px 0;
}

.section-help__info {
    text-align: center;
}

.section-help__info {
    margin-bottom: 50px;
}

.section-help__info-title {
    font-size: 36px;
    letter-spacing: 1px;
    color: #333;
    font-weight: 400;
    font-family: 'Quicksand-Regular', sans-serif;
    margin: 0;
}

.section-help__info-text {
    font-weight: 300;
    color: #777;
    font-size: 20px;
    font-family: 'Quicksand-light', sans-serif;
    line-height: 30px;
    margin-top: 10px;
}

.section-help__items {
    display: flex;
    width: 100%;
}

.section-help__items-item.left {
    background-image: url('../Images/1 (4).jpg');
    margin: 0 12px;
}

.section-help__items-item.center {
    background-image: url('../Images/14.jpg');
    margin: 0 12px;
}

.section-help__items-item.right {
    background-image: url('../Images/3 (3).jpg');
    margin: 0 12px;
}

.section-help__items-item__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
}

.section-help__items-item__content-title {
    margin: 0;
    color: #EEE;
    cursor: pointer;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Quicksand-Regular', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.section-help__items-item__content-line {
    width: 0;
    height: 4px;
    background: #ffffff;
    border-radius: 8px;
    margin: 46px auto;
    transition: width ease 0.2s;
}

.section-help__items-item__content-text {
    display: block;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Quicksand-Medium', sans-serif;
    text-align: center;
    color: #ffffff;
}

.section-help__items-item {
    position: relative;
    width: 33.33%;
    height: 300px;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    transition: transform .1s;
}

.section-help__items-item__opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    opacity: 0.4;

}

.section-help__items-item:hover .section-help__items-item__opacity {
    opacity: 0.8;
}

.section-help__items-item:hover .section-help__items-item__content-line {
    width: 40px;
}

.section-help__items-item:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 1px 0;
}

/*~~~~~~~~ FOOTER ~~~~~~~~*/

.footer-main {
    background-color: #282828;
}

.footer-main__top {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

.footer-line {
    width: 100%;
    border-top: 1px solid #eee;
}

.footer-main__top-item {
    padding: 0 12px 0 12px;
    width: 25%;
}

.footer-item__part {
    padding-bottom: 30px;
}

.footer-item__part p {
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    margin: 0;
    padding: 0 0 9px 0;
}

.footer-item__part.contacts {
    padding-bottom: 0;
}

.footer-item__part.contacts b {
    border-bottom: 1px rgba(255, 255, 255, 0.75) dashed;
}

.footer-main__top-item h4 {
    margin: 0 0 25px 0;
    color: #EEE;
    font-family: 'Quicksand-SemiBold', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

.footer-main-item__nav {
    list-style: none;
    padding: 0;
}

.footer-main-item__nav-list {
    padding: 4px 0;
    line-height: 22px;
}

.footer-main-item__nav-list:before {
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
    margin-right: 5px;
}

.footer-main-item__nav-list-link {
    text-decoration: none;
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}

.footer-main__top-item-ticket {
    padding: 30px;
    border: 2px dashed #AAA;
    text-align: center;
}

.ticket-title {
    color: #EEE;
    font-family: 'Quicksand-SemiBold', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.ticket-title span {
    color: #f0a540;
    font-size: 40px;
}

.ticket-text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand-Regular', sans-serif;
}

.ticket-text span {
    color: #999;
    font-style: italic;
    font-size: 14px;
}

.footer-main__bottom {
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-main__bottom-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-main__bottom-left p {
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}

.footer-main-right__icon {
    color: #777777;
    text-decoration: none;
    margin-right: 20px;
}